body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: pink;
    font-family: "Roboto", sans-serif;
}

.main-content {
    margin: 20px;
    text-align: center;
}

header {
    color: #f6f6f6;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
}

header h1 {
    color: #844aadFD;
    font-weight: 700;
    font-size: 2.5em;    
    text-shadow: 2px 2px 4px rgba(181, 126, 220, 0.5);
}

.center-container {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: #ff69b4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff4785;
}

#mensaje {
    display: none;
    font-size: 24px;
    margin-top: 20px;
    color: #333;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#mensaje:before {
    font-size: 36px;
    margin-right: 5px;
}

#mensaje::after {
    font-size: 36px;
    margin-right: 5px;
}

.sinTransicion {
    transition: none;
}

.conTransicion {
    transition: all 0.5s ease-in-out;
}

.sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.sidebar img {
    width: 80%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.left-sidebar {
    order: -1;
}

.right-sidebar {
    order: 1;
}

@media only screen and (min-width: 600px) {
    body {
        flex-direction: row;
    }

    .main-content {
        width: 60%;
        order: 1;
    }

    .sidebar {
        width: 40%;
        margin-top: 0;
    }
}